@font-face {
    font-family: ImpactFont;
    src: url('../fonts/impact.eot');
    src: url('../fonts/impact.eot?#iefix') format('embedded-opentype'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg') format('svg')
}


.navbar-header {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-footer {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.container > .navbar-header, .container > .navbar-collapse, .navbar-header .col-xs-6 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inverse {
    background-color: #282829 !important;
    border-color: #080808;
}

.footer-inverse {
    background: -webkit-linear-gradient(#F2F2F3, #B4B3B4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2F2F3, #B4B3B4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2F2F3, #B4B3B4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2F2F3, #B4B3B4); /* Standard syntax */
    border-top-width: 1px;
    border-top-color: #282829;

}

.equalizer-container {

    padding-left: 0px;
    padding-right: 0px;
    height: 100px;
    background-color: grey;
}

.footerlink {
    width: 100%;
    text-align: center;
    background-color: green;
}

#maincontainer {
    padding-bottom: 70px;
}
.navbar-fixed-bottom {
    border-top-color: #5D5D5D;
    border-top-width: 1px;
    border-top-style: solid;
}

.navbar-fixed-bottom img {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-footer div.current {
    background: -webkit-linear-gradient(#F8FAED, #BCC94B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F8FAED, #BCC94B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F8FAED, #BCC94B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F8FAED, #BCC94B); /* Standard syntax */
}

#nav1, #nav2, #nav3, #nav4 {
    border-right-color: #5D5D5D;
    border-right-width: 1px;
    border-right-style: solid;
}

#nav1 {

}

#home-competitions, #hot-competitions, #youtube {
    position: relative;
    float: left;
    width: 100%;
    padding: 0%;
    background-color: #E2E2E2;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 0px;
    font-family: ImpactFont, Impact, Helvetica Neue, Arial, sans-serif;
    font-size: 24px;
}

.rowpadding98 {
    width: 99%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    margin-right: 0px !important;
}

#home-competitions img, #hot-competitions img {
    min-width: 85px;
}

.bigmore {
    text-align: right;
    font-size: 80px;
    font-family: Helvetica Neue, Arial, sans-serif
}

h2 {
    background-color: #AEBD26;
    font-family: ImpactFont, Impact, Helvetica Neue, Arial, sans-serif;
    font-size: 24px;
}

.floated {
    float: left;
}

h2.heart {
    padding-left: 40px;
    background-image: url(../img/icon-heart.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}

h2.competition {
    padding-left: 40px;
    background-image: url(../img/icon-competitions.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}

h2.whatshot {
    padding-left: 40px;
    background-image: url(../img/icon-whatshot.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}

h2.shoutout {
    padding-left: 40px;
    background-image: url(../img/icon-shoutout.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}

h2.contact {
    padding-left: 40px;
    background-image: url(../img/icon-tel.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}

.page {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 95px;
}

.btn-success {
    background-color: #AEBD26 !important;
    border-color: #939F20 !important;
}

#home-competitions a, #home-competitions a:hover, #home-competitions a:active, #home-competitions a:visited, #hot-competitions a, #hot-competitions a:hover, #hot-competitions a:active, #hot-competitions a:visited {
    color: black;
    text-decoration: none;
}

#instafeed a img {
    margin-right: 1px;
    margin-bottom: 1px;
}

#youtube a, #youtube a:hover, #youtube a:active, #youtube a:visited, #hot-competitions a, #hot-competitions a:hover, #hot-competitions a:active, #hot-competitions a:visited {
    color: black;
    text-decoration: none;
}

.imgcenter {
    margin: auto;
}

#contact img {

    margin-top: 15px;
}

form label {
    text-align: center;
    width: 100%;
}

img.showlist {
    margin-bottom: 5px;
}

#team, #showindex {
    float: left;
}

.modal {
    overflow: auto;
    color: #333;
}

@media (min-width: 481px) {
    .navigation {
        list-style: none;
        padding: 0;
    }

    .navigation li {
        display: inline-block;
    }

    .navigation li:not(:first-child):before {
        content: '| ';
    }
}