@font-face {
    font-family: "ImpactFont";
    src: url("../fonts/impact.ttf");
    /* Make sure you defined the correct path, which is related to
        the location of your file `my_css.css` */
}


.navbar-header {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-footer {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.container > .navbar-header, .container > .navbar-collapse, .navbar-header .col-xs-6 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-inverse {
    background-color: #282829 !important;
    border-color: #080808;
}

.footer-inverse {
    background: -webkit-linear-gradient(#F2F2F3, #B4B3B4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2F2F3, #B4B3B4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2F2F3, #B4B3B4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2F2F3, #B4B3B4); /* Standard syntax */
    border-top-width: 1px;
    border-top-color: #282829;

}

.equalizer-container {

    padding-left: 0px;
    padding-right: 0px;
    margin-top: 75px;
    height: 100px;
    background-color: grey;
}

.footerlink {
    width: 100%;
    text-align: center;
    background-color: green;
}

#maincontainer {
    padding-bottom: 70px;
}
.navbar-fixed-bottom {
    border-top-color: #5D5D5D;
    border-top-width: 1px;
    border-top-style: solid;
}

.navbar-fixed-bottom img {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-footer div.current {
    background: -webkit-linear-gradient(#F8FAED, #BCC94B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F8FAED, #BCC94B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F8FAED, #BCC94B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F8FAED, #BCC94B); /* Standard syntax */
}

#nav1, #nav2, #nav3, #nav4 {
    border-right-color: #5D5D5D;
    border-right-width: 1px;
    border-right-style: solid;
}

#nav1 {

}

#home-competitions {
    position: relative;
    float: left;
    width: 100%;
    padding: 0%;
    background-color: #E2E2E2;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    padding-top: 0px;
    font-family: "ImpactFont", Helvetica Neue, Arial, sans-serif;
    font-size: 24px;
}

.rowpadding98 {
    width: 99%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    margin-right: 0px !important;
}

#home-competitions img {
    min-width: 85px;
}

.bigmore {
    text-align: right;
    font-size: 80px;
    font-family: Helvetica Neue, Arial, sans-serif
}

h2 {
    background-color: #AEBD26;
    font-family: "ImpactFont", Helvetica Neue, Arial, sans-serif;
    font-size: 24px;
}

.floated {
    float: left;
}

h2.heart {
    padding-left: 40px;
    background-image: url(../img/icon-heart.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
}